* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  background-color: hsl(225, 100%, 94%);
}

.container {
  width: 70%;
  margin: 1rem auto;
  overflow: hidden;
  background-color: hsl(225, 100%, 100%);
  border-radius: 15px;
}

.img {
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.main {
  text-align: center;
  width: 90%;
  margin: auto;
}

.orderSumm>h2 {
  margin: 1rem auto;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.orderSumm>p {
  color: hsl(224, 23%, 55%);
  padding: 0 1.5rem;
}

.annualPayment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(150, 150, 150, 0.09);
  padding: 0.7rem;
  margin: 2rem 0;
  border-radius: 7px;
}

.annualPlan>h4 {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

.annualPlan>p {
  color: hsl(224, 23%, 55%);
  font-size: 14px;
}

.change {
  font-weight: 700;
  font-size: 14px;
}

.change a:hover {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

button {
  width: 100%;
  color: whitesmoke;
  padding: 1rem;
  border-radius: 10px;
  background-color: hsl(245, 75%, 52%);
  font-size: 15px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 15px 13px 0px hsl(245, 0%, 80%);
}

button:hover {
  background-color: hsl(270, 70%, 52%);
  box-shadow: 0 15px 13px 0px hsl(270, 30%, 80%);
}

.cancel {
  margin: 1.3rem 0;
  font-weight: 700;
  
}

.cancel a {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
}

.cancel a:hover {
 color: hsl(245, 75%, 52%);
}

footer {
  width: 70%;
  color: white;
  background-color: #7541c8;
  border-radius: 5px;
  box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.3);
  padding: 0.5rem;
  margin: 0.3rem auto;
}

footer p {
  max-width: 240px;
  text-align: center;
  margin: 0 auto;
}


@media only screen and (min-width:676px){

  body {
    background: hsl(225, 100%, 94%) url('images/pattern-background-desktop.svg') no-repeat;
    background-size: contain;
  }

  .container {
    width: 40%;
  }

  footer {
    width: 40%;
  }
  
}